@keyframes slideinCV {
  from {
    margin-inline-start: 99%;
  }

  to {
    margin-inline-start: calc(25% - 32px);
  }
}

.cv {
  width: 100%;
  overflow: hidden;

  &-headline {
    width: 100%;
    display: inline;
  }

  &-download {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    width: fit-content;
    float: right;
    text-decoration: none;
    color: #008b8b;
    fill: #008b8b;

    &-text {
      margin: 8px 8px;
    }

    &:hover {
      color: #2bc8c8;
      fill: #2bc8c8;
      filter: drop-shadow(0 0 2px #008b8b);
    }
  }

  &-container {
    padding: 32px;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-inline-start: calc(25% - 32px);
    width: 50%;
    height: fit-content;
    border-radius: 12px;
    background: #051326;
    box-shadow: 0 0 16px 2px #008b8b;
    color: #008b8b;
    animation-duration: 3s;
    animation-name: slideinCV;
    overflow: hidden;

    img {
      width: 100%;
      height: 140%;
    }
  }

  &-title {
    margin: 0;
    text-align: center;
    color: #2bc8c8;
    text-shadow: 0 0 2px #008b8b;
  }
}

@media (max-width: 1000px) {
  .cv {
    &-container {
      width: 100%;
      padding-inline-start: 0;
      padding-inline-end: 0;
      border-radius: 0;
      margin-inline-start: 0;
      animation-name: fadein;
    }

    &-download {
      margin-inline-end: 8px;
    }
  }
}
