@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(9, 170, 214, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(9, 170, 214, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(9, 170, 214, 0.6);
    transform: translatey(0px);
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%;
  }

  75% {
    font-size: 200%;
    margin-left: 25%;
    width: 150%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slidein2 {
  from {
    margin-left: 100%;
    width: 100%;
  }

  75% {
    margin-left: 25%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.profile {
  display: flex;
  align-items: center;
  padding: 48px;
}

.profile-image-container {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.profile-image {
    width: 250px;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 5px 15px 0px rgba(9, 170, 214, 0.6);
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
    img { 
        width: 100%;
        height: 100%;
        filter: brightness(80%); 
    }
}

.profile-about-me {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 50%;

  .profile-about-me-title {
    position: relative;
    color: #008B8B;
    margin-bottom: 0;
    animation-duration: 3s;
    animation-name: slidein;
  }
  .profile-about-me-text {
    text-align: justify;
    color: white;
    animation-duration: 3s;
    animation-name: slidein2;
  }
}