@use 'styling/navbar';
@use 'styling/headline';
@use 'styling/profile';
@use 'styling/skills';
@use 'styling/contact';
@use 'styling/footer';
@use 'styling/cv';

html {
  height: 100%;
  box-sizing: border-box;
  /* For Firefox */
  overflow-y: auto;
  scrollbar-color: #008b8b77 #008b8b21;
  scrollbar-width: thin;
}

body {
  position: relative;
  min-height: 100%;
  font-family: 'MuseoModerno', Verdana, sans-serif;
  background: #0d1722f5;

  /* For Chrome and other browsers except Firefox */
  &::-webkit-scrollbar {
    width: 0.5em;
    background-color: #008b8b21;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #008b8b77;
    border-radius: 14px;
  }
}

.main {
  padding-bottom: 64px;
}
